<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <form [formGroup]="userForm" novalidate (submit)="onSubmit()">
        <div class="card">
          <div class="card-header">
            <i class="icon-user-follow"></i>
          </div>
          <div class="card-block">
            <div class="card-container">
              <strong>Tạo tài khoản</strong>
              <hr>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Tên tài khoản</label>
                <div class="col-md-9">
                  <input formControlName="UserName" readonly
                         type="text" name="UserName" class="form-control" placeholder="Tên tài khoản..">
                  <show-errors [control]="userForm.controls.UserName" [fname]="'Tên tài khoản'" ></show-errors>
                </div>
              </div>
              <!--<div class="form-group row">
                <label class="col-md-3 form-control-label">Mật khẩu</label>
                <div class="col-md-9">
                  <input formControlName="Password"
                         type="password" name="Password" class="form-control" placeholder="Mật khẩu..">
                  <show-errors [control]="userForm.controls.Password" [fname]="'Mật khẩu'" ></show-errors>
                </div>
              </div>-->
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Email</label>
                <div class="col-md-9">
                  <input formControlName="Email" readonly
                         type="text" name="Email" class="form-control" placeholder="Email..">
                  <show-errors [control]="userForm.controls.Email" [fname]="'Email'" ></show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Tên</label>
                <div class="col-md-9">
                  <input formControlName="FirstName"
                         type="text" name="FirstName" class="form-control" placeholder="Tên..">
                  <show-errors [control]="userForm.controls.FirstName" [fname]="'Tên'" ></show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Họ đệm</label>
                <div class="col-md-9">
                  <input formControlName="LastName"
                         type="text" name="LastName" class="form-control" placeholder="Họ đệm..">
                  <show-errors [control]="userForm.controls.LastName" [fname]="'Họ đệm'" ></show-errors>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Avatar</label>
                <div class="col-md-9">
                  <image-upload [url]="uploadUrl" [max]="1" [extensions]="['jpeg','jpg','png']"
                                [uploadedFiles]="oldImgs"
                                (removed)="onRemovedImage($event)"
                                (uploadFinished)="onUploadFinished($event)"
                                (uploadStateChanged)="onUploadStateChanged($event)"></image-upload>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-3 form-control-label">Điện thoại</label>
                <div class="col-md-9">
                  <input formControlName="Phone"
                         type="text" name="Phone" class="form-control" placeholder="Điện thoại..">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Ngày sinh</label>
                <div class="col-md-9">
                  <input formControlName="Birthday" bsDatepicker [bsConfig]="{containerClass: 'theme-default'}" readonly
                         type="text" name="Birthday" class="form-control" placeholder="Ngày sinh..">
                  <!--<input type="text"
                         #dp="bsDatepicker"
                         bsDatepicker [(bsValue)]="bsValue">-->
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Điện thoại</label>
                <div class="col-md-9">
                  <input formControlName="Class"
                         type="text" name="Class" class="form-control" placeholder="Lớp..">
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-3 form-control-label">Điện thoại</label>
                <div class="col-md-9">
                  <input formControlName="School"
                         type="text" name="School" class="form-control" placeholder="Trường..">
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="card-container">
              <button type="submit" class="btn btn-sm btn-primary"> Cập nhật</button>
              <a class="btn btn-sm btn-danger" [routerLink]="['/admin/user']"> Quay lại</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<block-ui [template]="blockTemplate"></block-ui>
<!--[disabled]="userForm.invalid"-->
