
<div class="main-content">
  <div class="main-mod">
    <div class="title-mod">
      <div class="title-mod-cont">
        <h4 class="text-uppercase text-shadow-white font-weight-normal">{{title}}</h4>
      </div>
    </div>
    <div class="content-mod">
      <div class="row">
        <div newsHightlightItem *ngFor="let item of hightLightItems" [news]="item" class="col-sm-12 col-md-6"></div>
        <div class="col-12">
          <div class="row">
            <div *ngFor="let item of items" newsItem [news]="item" class="col-sm-12 col-md-6 col-lg-4"></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <nav paging aria-label="navigation" [page]="newsFilter" [max]="3" [query]="{}" (onPageChange)="pageChange($event)"></nav>
  </div>
</div>
