<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
          <a class="btn btn-success btn-xs pull-right" [routerLink]="['/admin/document/create']"><i class="icon-user-follow"></i> Tạo tài liệu</a>
        </div>
        <div class="card-body">
          <div >
            <block-ui [template]="blockTemplate">
              <data-table id="persons-grid"
                          headerTitle="Quản lý tài liệu"
                          [items]="items"
                          [itemCount]="itemCount"
                          (reload)="reloadItems($event)"
                          (rowClick)="rowClick($event)"
                          (rowDoubleClick)="rowDoubleClick($event)"
                          [rowTooltip]="rowTooltip"
              >
                <data-table-column
                  [property]="'Name'"
                  [header]="'Tên tài liệu'"
                  [sortable]="true"
                  [resizable]="true">
                  <ng-template #dataTableCell let-item="item">
                    <span>{{item.Name}}</span>
                  </ng-template>
                </data-table-column>
                <data-table-column
                  property="ClassName"
                  header="Lớp">
                </data-table-column>
                <data-table-column
                  property="SubjectName"
                  header="Môn học">
                </data-table-column>
                <data-table-column
                  property="Description"
                  header="Mô tả"
                  [sortable]="true"
                  [visible]="false">
                </data-table-column>
                <data-table-column
                  property="CreatorName"
                  header="Người tạo"
                  [sortable]="true"
                  [visible]="false">
                </data-table-column>
                <data-table-column
                  [property]="'#'"
                  [header]="'Quản trị'"
                  [width]="100"
                  [styleClass]="'table-action-cell'"
                  [resizable]="true">
                  <ng-template #dataTableHeader let-item="item">
                    <span>Quản trị</span>
                  </ng-template>
                  <ng-template #dataTableCell let-item="item">
                    <div class="btn-group" dropdown placement="bottom right">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        Action <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <!--<li role="menuitem"><a class="dropdown-item action" [routerLink]="['/admin/news/view/' + item.ID]">
                          <i class="fa fa-external-link text-info"></i>Xem </a>
                        </li>-->
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/admin/document/edit/' + item.ID]">
                          <i class="fa fa-edit fa-lg text-info"></i> Sửa </a>
                        </li>
                        <li role="menuitem"><a class="dropdown-item action" (click)="download(item.ID)">
                          <i class="fa fa-download text-info"></i> Download </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item action" (click)="delete(item.ID)">
                          <i class="fa fa-minus-square text-danger"></i> Khóa </a></li>
                      </ul>
                    </div>
                  </ng-template>
                </data-table-column>
              </data-table>
            </block-ui>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
