<section fagsBanner class="section-get-question"></section>
<section class="section-topic">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-2 order-1 order-md-0">
        <ul class="block-wegit">
          <li *ngFor="let source of subjectSource">
            <a [routerLink]="['/hoi-dap']" [queryParams]="{s:source.ID}" class="action" >{{source.Value}}</a>
          </li>
        </ul>
        <ul class="block-wegit list-class">
          <li *ngFor="let source of classSource">
            <a [routerLink]="['/hoi-dap']" [queryParams]="{c:source.ID}" class="action" >{{source.Value}}</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-7 order-0 order-md-1" *ngIf="fags">
        <div class="pt-3">
          <div class="card p-3 faqbg">
            <div class="faqs-title mb-2" style="border-bottom: 1px solid rgba(0,0,0,.125);">
              <h1>{{fags.Title}}</h1>
            </div>
            <div class="faq-content">
              <div class="des-faq" appMathJax [MathJax]="fags.Content">
              </div>
              <hr>
              <p class="mb-0">
                <a [routerLink]="['/hoi-dap']" [queryParams]="{s: fags.SubjectId}" class="text-success">- {{fags.SubjectName}}</a>
                <a [routerLink]="['/hoi-dap']" [queryParams]="{c: fags.ClassId}" class="badge badge-info py-2 px-3 ml-2">{{fags.ClassName}}</a>
                <a class="text-info" [routerLink]="['/nguoi-dung/dt',fags.UserId]">
                  <img [src]="userAvatar(fags.AvatarUrl)" alt="user-img" class="img-circle img-user-profile ml-2 mr-1"> {{fags.UserName}}
                  <small class="pull-right text-secondary pt-2">{{viewTime(fags.CreatedAt)}}</small>
                </a>
              </p>
            </div>
          </div>
          <div *ngIf="comments.length" class="faq-detail">
            <h6 class="text-primary mt-3 mb-0 pl-3"><i class="fa fa-comment-o fa-lg"></i> {{comments.length}} câu trả lời</h6>
            <div *ngFor="let comment of comments;let i = index" class="card my-3"
                 [ngClass]="{'faq-true': comment.IsTrusted}">
              <div class="card-header">
                <span class="pr-3"><a class="action" [ngClass]="{active: comment.CurrentUser == 1}"
                                      (click)="vote(comment,true,i)"> <i class="fa fa-thumbs-o-up pr-1"></i> </a> <small>{{comment.Upvote}}</small></span>
                <span class="pr-3"><a class="action" [ngClass]="{active: comment.CurrentUser == -1}"
                                      (click)="vote(comment,false,i)"> <i class="fa fa-thumbs-o-down pr-1"></i> </a> <small>{{comment.Downvote}}</small></span>
                <a [routerLink]="['/nguoi-dung/dt',comment.UserId]" class="text-info">
                  <img [src]="userAvatar(comment.AvatarUrl)" alt="user-img" class="img-circle img-user-profile mr-1">
                  {{comment.UserName}} </a>
                <i *ngIf="comment.IsTrusted" class="fa fa-check fa-lg text-success"></i>
                <a *ngIf="user" class="pull-right mt-1 ml-2 text-info action">
                  <i *ngIf="(user.IsAdmin || user.ID == fags.UserId) && !fags.IsDone" title="Xác thực câu trả lời"
                     class="fa fa-check" (click)="trustComment(comment)"></i>
                  <i *ngIf="user.ID == comment.UserId" title="Sửa câu trả lời"
                     (click)="comment.Editting = true" class="fa fa-pencil-square-o"></i>
                </a>
                <small class="pull-right mt-2 text-secondary">{{viewTime(comment.CreatedAt)}}</small>
              </div>
              <div class="card-body" *ngIf="!comment.Editting">
                <blockquote appMathJax [MathJax]="comment.Content"></blockquote>
              </div>
              <div class="card-body" *ngIf="comment.Editting">
                <h6>Sửa câu trả lời của bạn</h6>
                <ckeditor
                  [config]="ckConfig"
                  [(ngModel)]="comment.Content"
                  [readonly]="false"
                  debounce="500">
                </ckeditor>
                <div class="mb-5 mt-2 row">
                  <a [ladda]="isLoading" (click)="editAnswer(comment)" class="btn btn-primary col-6">Sửa câu trả lời</a>
                  <a (click)="comment.Editting = false" class="btn col-6">Bỏ qua</a>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="canAnswer()" class="mt-3">
            <h6>Câu trả lời của bạn</h6>
            <ckeditor
              [config]="ckConfig"
              [(ngModel)]="answer"
              [readonly]="false"
              debounce="500">
            </ckeditor>
            <a [ladda]="isLoading" (click)="sendAnswer()" class="btn btn-block btn-primary mb-5 mt-2">Gửi câu trả lời của bạn</a>
          </div>
          <!--<nav paging aria-label="navigation" style="margin-top: 30px"
               [page]="filter" [max]="3" [query]="query" (onPageChange)="pageChange($event)"></nav>-->
        </div>
      </div>
      <div fagHotItem class="col-sm-12 col-md-3 order-2 order-md-2"></div>
    </div>
  </div>
</section>
