<div class="main-content">

  <div class="wrapper-article-detail">
    <h1 class="h1-detail">{{news.Title}}</h1>
    <div class="date-view">
      <span><i class="fa fa-calendar"></i> {{viewDate(news.CreatedAt)}}</span> <!--<span><i class="fa fa-eye"></i> 259 lượt xem</span>-->
    </div>
    <h2 class="h2-des">{{news.Description}}</h2>
    <div appMathJax [MathJax]="news.Content"></div>
  </div>
  <hr>

  <div class="title-mod">
    <div class="title-mod-cont">
      <h4 class="text-uppercase text-shadow-white font-weight-normal">Bài liên quan</h4>
    </div>
  </div>
  <!-- END title -->
  <div class="row">
    <div *ngFor="let item of relate" newsItem [news]="item" class="col-sm-12 col-md-6 col-lg-3"></div>
  </div>

</div>
