<section class="section-get-question">
  <div class="container text-center">
    <h4 class="text-uppercase text-primary font-italic">Đăng câu hỏi và tham gia thảo luận cùng bạn bè!</h4>
    <p class="pb-1">Đội ngũ giao viên cùng cộng đồng TOPEDU sẽ cùng tham gia trở lời<br>và thảo luận nhanh nhất và chính xác nhất.</p>
    <!-- <a href="faqs-get.html" class="btn btn-success btn-lg text-uppercase px-5 mb-4">Đặt câu hỏi của bạn</a> -->
  </div>
</section>
<section class="section-topic">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <!-- Dat cau hoi -->
        <div class="py-3">
          <h4 class="mb-3">Đặt câu hỏi của bạn</h4>
          <form [formGroup]="mainForm" novalidate (submit)="onSubmit()">
            <div class="form-group">
              <input formControlName="Title" type="text" class="form-control form-control-lg" name="" placeholder="Tiêu đề câu hỏi của bạn...">
              <show-errors [control]="mainForm.controls.Title" [fname]="'Tiêu đề'" ></show-errors>
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-6">
                <select formControlName="SubjectId" class="form-control form-control-lg">
                  <option value="">Chọn môn</option>
                  <option *ngFor="let source of subjectSource" [value]="source.ID">{{source.Value}}</option>
                </select>
                <show-errors [control]="mainForm.controls.SubjectId" [fname]="'Môn học'" ></show-errors>
              </div>
              <div class="col-sm-12 col-md-6">
                <select formControlName="ClassId" class="form-control form-control-lg">
                  <option value="">Chọn lớp</option>
                  <option *ngFor="let source of classSource" [value]="source.ID">{{source.Value}}</option>
                </select>
                <show-errors [control]="mainForm.controls.ClassId" [fname]="'Lớp'" ></show-errors>
              </div>
            </div>
            <div class="form-group">
              <ckeditor
                formControlName="Content"
                [readonly]="false"
                debounce="500">
              </ckeditor>
              <show-errors [control]="mainForm.controls.Content" [fname]="'Nội dung câu hỏi'" ></show-errors>
            </div>
            <div class="form-group">
              <button [ladda]="isLoading"  type="submit" class="btn btn-warning btn-block"><i class="fa fa-send"></i> Gửi</button>
            </div>
          </form>
        </div>
        <!-- END Dat cau hoi -->
      </div>
      <div fagHotItem class="col-sm-12 col-md-4"></div>
    </div>
  </div>
</section>
