<section class="section-get-question">
  <div class="container text-center">
    <h4 class="text-uppercase text-primary font-italic">Đăng câu hỏi và tham gia thảo luận cùng bạn bè!</h4>
    <p class="pb-1">Đội ngũ giao viên cùng cộng đồng TOPEDU sẽ cùng tham gia trở lời<br>và thảo luận nhanh nhất và chính xác nhất.</p>
    <!-- <a href="faqs-get.html" class="btn btn-success btn-lg text-uppercase px-5 mb-4">Đặt câu hỏi của bạn</a> -->
  </div>
</section>
<section class="section-topic">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8">
        <!-- Dat cau hoi -->
        <div class="py-3">
          <h4 class="mb-3">Đặt câu hỏi của bạn</h4>
          <form>
            <div class="form-group">
              <input type="text" class="form-control form-control-lg" name="" placeholder="Tiêu đề câu hỏi của bạn...">
            </div>
            <div class="form-group row">
              <div class="col-sm-12 col-md-6">
                <select class="form-control form-control-lg">
                  <option>Chọn môn</option>
                  <option>Toán học</option>
                  <option>Vật Lý</option>
                  <option>Ngoại ngữ</option>
                  <option>...........</option>
                  <option>Khác</option>
                </select>
              </div>
              <div class="col-sm-12 col-md-6">
                <select class="form-control form-control-lg">
                  <option>Chọn lớp</option>
                  <option>Lớp 1</option>
                  <option>Lớp 2</option>
                  <option>Lớp 3</option>
                  <option>Lớp 4</option>
                  <option>Lớp 5</option>
                  <option>Lớp 6</option>
                  <option>Lớp 7</option>
                  <option>Lớp 8</option>
                  <option>Lớp 9</option>
                  <option>Lớp 10</option>
                  <option>Lớp 11</option>
                  <option>Lớp 12</option>
                  <option>Khác</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <textarea class="form-control form-control-lg" rows="9" placeholder="Nội dung câu hỏi"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-warning btn-block"><i class="fa fa-send"></i> Gửi</button>
            </div>
          </form>
        </div>
        <!-- END Dat cau hoi -->
      </div>
      <div class="col-sm-12 col-md-4">
        <!-- sidebar -->
        <div class="sidebar">

          <!-- ads sidebar -->
          <div class="ads">
            <a href=""><img class="img-fluid" src="images/banner-4.jpg" width="100%"></a>
          </div>
          <!-- END ads sidebar -->

          <!-- module sidebar -->
          <div class="mod-sidebar">
            <div class="title-mod">
              <div class="title-mod-cont">
                <h4 class="text-uppercase text-shadow-white font-weight-normal">Chủ đề nóng</h4>
              </div>
            </div>
            <!-- END title -->
            <div class="topic-cont">
              <ul class="list-topic-style-1 list-topic-style-2">
                <li>
                  <h3><img src="img/starfish.svg">
                    <a href="">Tiếng Anh hiệu quả cho Tân sinh viên</a>
                  </h3>
                  <p class="mb-0">
                    <a href="" class="subjects-of-topic">- Tiếng Anh</a>
                    <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 259 bình luận</span>
                  </p>
                </li>
                <li>
                  <h3><img src="img/starfish.svg">
                    <a href="">13 kỹ năng cần thiết cho học sinh phổ thông</a>
                  </h3>
                  <p class="mb-0">
                    <a href="" class="subjects-of-topic">- Phương pháp quản lý</a>
                    <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 308 bình luận</span>
                  </p>
                </li>
                <li>
                  <h3><img src="img/starfish.svg">
                    <a href="">Rèn luyện &amp; nâng cao kỹ năng giải toán Trung học phổ thông</a>
                  </h3>
                  <p class="mb-0">
                    <a href="" class="subjects-of-topic">- Toán học</a>
                    <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 242 bình luận</span>
                  </p>
                </li>
                <li>
                  <h3><img src="img/starfish.svg">
                    <a href="">Luyện thi trắc nghiệm vật lý Trung học 2018</a>
                  </h3>
                  <p class="mb-0">
                    <a href="" class="subjects-of-topic">- Phương pháp quản lý</a>
                    <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 122 bình luận</span>
                  </p>
                </li>
                <li>
                  <h3><img src="img/starfish.svg">
                    <a href="">Bí kíp luyện thi tiếng anh Trung học Phổ thông 2017</a>
                  </h3>
                  <p class="mb-0">
                    <a href="" class="subjects-of-topic">- Tiếng Anh</a>
                    <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 96 bình luận</span>
                  </p>
                </li>
              </ul>
            </div>
          </div>
          <!-- END module sidebar -->
        </div>
        <!-- END sidebar -->
      </div>
    </div>
  </div>
</section>
