<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-blue">
  <div class="top-nav">
    <div class="container d-flex">
      <a class="navbar-brand" [routerLink]="['/trang-chu']"><i class="fa fa-lg fa-mortar-board"></i> 2Study</a>

      <form *ngIf="false" class="form-inline box-search" (submit)="searchAll()">
        <input [(ngModel)]="search" name="search" class="form-control" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
      </form>

      <ul class="navbar-nav ml-auto" *ngIf="isLogin">
        <!--<li class="nav-item d-none d-md-flex">
          <a class="nav-link" href="#" title="Khóa học: 3"><i class="fa fa-lg fa-briefcase d-none d-lg-inline-flex"></i> 3</a>
        </li>
        <li class="nav-item d-none d-md-flex">
          <a class="nav-link" href="#" title="Điểm: 1.652"><i class="fa fa-lg fa-bitcoin d-none d-lg-inline-flex"></i> 1.652</a>
        </li>-->
        <li class="nav-item dropdown" dropdown>
          <a class="nav-link nav-user-profile action" dropdownToggle><img [src]="userAvatar()" alt="{{user.LastName}} {{user.FirstName}}" class="img-circle img-user-profile"></a>
          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
            <a *ngIf="user.IsAdmin" href="admin" class="dropdown-item" ><i class="fa fa-cog mr-1 text-secondary"></i> Trang admin</a>
            <a class="dropdown-item" [routerLink]="['/nguoi-dung/toi']"><i class="fa fa-user-circle mr-1 text-secondary"></i> Trang cá nhân</a>
            <a class="dropdown-item" ><i class="fa fa-cog mr-1 text-secondary"></i> Cài đặt</a>
            <a class="dropdown-item" ><i class="fa fa-question-circle mr-1 text-secondary"></i> Trợ giúp</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item action" (click)="logOut()"><i class="fa fa-sign-out mr-1 text-secondary"></i> Đăng xuất</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="!isLogin">
        <li class="nav-item  d-none d-md-flex">
          <a class="nav-link text-uppercase" [routerLink]="['/tai-khoan/dang-ky']">Đăng ký</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary text-uppercase" [routerLink]="['/tai-khoan/dang-nhap']">Đăng nhập</a>
        </li>
      </ul>
      <button class="navbar-toggler collapsed" (click)="isShowNav = !isShowNav">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </div>

  <div class="main-nav">
    <div class="collapse navbar-collapse" style="animation-duration: 2s;" [ngClass]="{show: isShowNav}">
      <div class="container">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/khoa-hoc']"><img src="public/frondtend/img/006-letter.svg"> Khóa học </a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/tin-tuc/thong-tin-tuyen-sinh']"><img src="public/frondtend/img/010-id-card.svg"> Thông tin tuyển sinh</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/tai-lieu']"><img src="public/frondtend/img/005-archive.svg"> Tài liệu</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/tin-tuc/bi-quyet-hoc-thi']"><img src="public/frondtend/img/003-folder.svg"> Bí quyết học thi</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/thi-online']"><img src="public/frondtend/img/008-wall-clock.svg"> Thi online</a>
          </li>
          <li class="nav-item">
            <a routerLinkActive="active" [routerLink]="['/hoi-dap']"><img src="public/frondtend/img/013-faqs.svg"> Hỏi đáp</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
</main>



<div class="endpage">
  <div class="container">
    End page
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p>Copyright &copy; 2017 Top-Edu, Inc.</p>
    <ul>
      <li><a href="">Điều khoản</a>|</li>
      <li><a href="">Chính sách Bảo mật và Chính sách Cookie</a>|</li>
      <li><a href="">Sở hữu trí tuệ</a>|</li>
      <li><a href="">Liên hệ</a></li>
    </ul>
  </div>
</footer>
