<!-- section slider -->
<section class="section-slider">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9">
        <div class="slider-body">

          <ul id="sb-slider" class="sb-slider">
            <li>
              <a><img src="public/frondtend/images/banner-4.jpg" alt="image4"/></a>
              <!--<div class="sb-description">
                <h3>Mô tả banner nếu có</h3>
              </div>-->
            </li>
            <!--<li>
              <a href="#" target="_blank"><img src="images/banner-2.png" alt="image2"/></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="images/banner-3.jpg" alt="image3"/></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="images/banner-1.png" alt="image1"/></a>
            </li>
            <li>
              <a href="#" target="_blank"><img src="images/banner-5.jpg" alt="image5"/></a>
            </li>-->
          </ul>

          <!-- <div id="shadow" class="shadow"></div> -->

          <!--<div id="nav-arrows" class="nav-arrows">
            <a href="#">Next</a>
            <a href="#">Previous</a>
          </div>-->

        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <aside class="panel feature-news bg-white h-100">
          <div class="panel-heading p-2">
            <h6 class="panel-title text-primary text-uppercase font-weight-normal m-0 text-shadow-white"><i class="fa fa-bullhorn text-danger mx-2"></i> Bảng tin</h6>
          </div>
          <div class="panel-body">
            <ul class="list-feature-news">
              <li *ngFor="let item of news"><a [routerLink]="['/tin-tuc/chi-tiet/' + item.ID]"><i class="fa fa-mortar-board mr-1"></i> {{item.Title}}</a></li>
            </ul>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <div class="slider-ticket w-100">
    <div class="container">
      <div class="wrap-ticket p-3">
        <div class="row">
          <div class="col-sm-12 col-md-4 d-flex">
            <div class="d-flex">
              <span class="mr-3"><img src="public/frondtend/img/icon-ticket-1.png"></span>
              <div>
                <p class="text-uppercase font-weight-bold m-0 text-shadow-white">Các khóa học OFFline chất lượng</p>
                <span class="text-dark">Các khóa học được cập nhật hàng ngày</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 d-flex">
            <div class="d-flex">
              <span class="mr-3"><img src="public/frondtend/img/icon-ticket-2.png"></span>
              <div>
                <p class="text-uppercase font-weight-bold m-0 text-shadow-white">+ 100 khóa học online hàng tháng</p>
                <span class="text-success">Miễn phí + Chất lượng</span>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 d-flex">
            <div class="d-flex">
              <span class="mr-3"><img src="public/frondtend/img/icon-ticket-3.png"></span>
              <div>
                <p class="text-uppercase font-weight-bold m-0 text-shadow-white">Thư viện tài liệu phong phú</p>
                <span class="text-dark">Cập nhật mới nhất từ các học viện hàng đầu</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section slider -->

<!-- section get question -->
<section fagsBanner class="section-get-question"></section>
<!-- END section get question -->

<!-- section topic -->
<section class="section-topic">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="wrap-topic">
          <div class="title-mod">
            <div class="title-mod-cont">
              <img src="public/frondtend/img/question.png">
              <h4 class="text-uppercase text-shadow-white font-weight-normal">Thảo luận - Câu hỏi mới</h4>
              <a [routerLink]="['/hoi-dap']">Xem thêm</a>
            </div>
          </div>
          <!-- END title -->
          <div class="topic-cont">
            <ul class="list-topic-style-1">
              <li *ngFor="let fag of newFags" fagItem [fag]="fag"></li>
            </ul>
          </div>
          <!-- END topic content -->
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="wrap-topic">
          <div class="title-mod">
            <div class="title-mod-cont">
              <img src="public/frondtend/img/starfish.svg">
              <h4 class="text-uppercase text-shadow-white font-weight-normal">Chủ đề nóng</h4>
              <a [routerLink]="['/hoi-dap']">Xem thêm</a>
            </div>
          </div>
          <!-- END title -->
          <div class="topic-cont">
            <ul class="list-topic-style-1 list-topic-style-2">
              <li *ngFor="let fag of hotFags">
                <img src="/public/frondtend/img/starfish.svg">
                <h3>
                  <a [routerLink]="['/hoi-dap',fag.PrettyUrl,fag.ID]">{{fag.Title}}</a>
                </h3>
                <p class="mb-0">
                  <a class="subjects-of-topic">- {{fag.SubjectName}}</a>
                  <span class="author-of-topic"> <i class="fa fa-comment-o"></i> {{fag.CommentsNumber}} bình luận</span>
                </p>
              </li>
            </ul>
          </div>
          <!-- END topic content -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END section topic -->

<!-- section courses -->
<section class="section-courses">
  <div class="container" style="height: 700px;">
    <h4 class="heading-title text-uppercase font-weight-normal">Khóa học luyện thi</h4>
    <div class="courses-slick">
      <div class="courses-item" courseItem *ngFor="let item of courses" [course]="item"></div>
    </div>

    <br/>
  </div>
</section>
<!-- END section courses -->

<!-- section documents -->
<section class="section-documents">
  <div class="container">
    <h4 class="doc-title text-uppercase font-weight-normal">
      <a [routerLink]="['/tai-lieu']" class="pull-right btn-sm btn-link">Xem thêm</a>
      <img src="public/frondtend/img/icon-ticket-3.png">
      Tài liệu mới
    </h4>
    <div class="wrap-doc-new">
      <ul class="row list-doc-new">
        <li class="col-sm-12 col-md-6" *ngFor="let doc of docs" docItem [docx]="doc"></li>
      </ul>
    </div>
  </div>
</section>
<!-- END section documents -->


<!-- section exams -->
<section class="section-exams">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-7">
        <h4 class="exams-title text-uppercase font-weight-normal">
          <a href="" class="pull-right btn-link">Xem thêm</a>
          <img src="public/frondtend/img/clipboard.svg">
          Luyện Thi Online
        </h4>
        <div class="row exams-list">
          <div *ngFor="let subject of subjects;let i = index" class="col-sm-6 col-md-4">
            <div class="exams-item" [ngClass]="'bg-ga-s' + (i + 1)">
              <h4>Đề thi môn {{subject.Value}} </h4>
              <div>
                <a class="img-ex mb-3" [routerLink]="['/thi-online']" [queryParams]="{s: subject.ID}" [style.background-image]="subjectBackground(i)"></a>
                <a [routerLink]="['/thi-online']" [queryParams]="{s: subject.ID}" class="btn">Vào thi</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5" topExam [isAds]="false" [mons]="1"></div>
    </div>
  </div>
</section>
<!-- END section exams -->
