<div class="body-user">

  <div class="container">
    <h3 class="heading-form">Đăng ký</h3>
    <div class="wrapper-form">
      <form class="form-login" [formGroup]="mainForm" novalidate (submit)="onSubmit()">
        <p class="text-center">Để học, thi, luyện và giao lưu với bạn bè trên mọi miền tổ quốc</p>
        <div class="hrcontent">
          <span><i class="fa fa-address-card-o"></i></span><hr>
        </div>
        <div class="form-group">
          <input formControlName="FirstName" name="FirstName"
                 type="text" class="form-control" placeholder="Tên">
          <show-errors [control]="mainForm.controls.FirstName" [fname]="'Tên'" ></show-errors>
        </div>
        <div class="form-group">
          <input formControlName="LastName" name="LastName"
                 type="text" class="form-control" placeholder="Họ">
          <show-errors [control]="mainForm.controls.LastName" [fname]="'Họ'" ></show-errors>
        </div>
        <div class="form-group">
          <input type="text" formControlName="UserName" name="UserName"
                 class="form-control" placeholder="Tên đăng nhập">
          <show-errors [control]="mainForm.controls.UserName" [fname]="'Tên đăng nhập'" ></show-errors>
        </div>
        <div class="form-group">
          <input formControlName="Email" name="Email"
                 type="text" class="form-control" placeholder="Email">
          <show-errors [control]="mainForm.controls.Email" [fname]="'Email'" ></show-errors>
        </div>
        <div class="form-group">
          <input formControlName="Password" name="Password"
                 type="password" class="form-control" placeholder="Mật khẩu">
          <show-errors [control]="mainForm.controls.Password" [fname]="'Mật khẩu'" ></show-errors>
        </div>
        <div class="form-group">
          <input formControlName="RePassword" name="RePassword"
                 type="password" class="form-control" placeholder="Xác nhận mật khẩu">
          <show-errors [control]="mainForm.controls.RePassword" [fname]="'Xác nhận mật khẩu'" ></show-errors>
          <div *ngIf="mainForm.hasError('mismatchedPasswords') && mainForm.controls.RePassword.dirty" class="invalid-feedback" style="display: block;">Mật khẩu không khớp.</div>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-p55 text-uppercase action">Đăng ký</button>
        </div>
        <div class="hrcontent">
          <span>Hoặc đăng ký qua:</span><hr>
        </div>
      </form>
      <div class="row login-with-social">
        <div class="col-6 offset-3">
          <a (click)="loginFacebook()" class="btn btn-block btn-primary btn-social-fb"><i class="fa fa-facebook-official"></i> Login with Facebook</a>
        </div>
        <div *ngIf="false" class="col">
          <a class="btn btn-block btn-primary btn-social-gg"><i class="fa fa-google"></i> Login with Google</a>
        </div>
      </div>
    </div>
    <div class="text-center end-wrap-form">
      <p class=" m-10-0-0">Bạn đã có tài khoản? <a [routerLink]="['/tai-khoan/dang-nhap']" class="btn-link">Đăng nhập</a></p>
      <p>Bạn quên mật khẩu? <a [routerLink]="['/tai-khoan/quyen-mat-khau']" class="btn-link">Lấy lại tại đây</a></p>
    </div>
  </div> <!-- /container -->

</div>
