<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i>
          <a class="btn btn-success btn-xs pull-right" [routerLink]="['/admin/questions']" [queryParams]="{t:0}"><i class="icon-user-follow"></i> Tạo đề</a>
        </div>
        <div class="card-body">
          <div >
            <block-ui [template]="blockTemplate">
              <data-table id="persons-grid"
                          headerTitle="Quản lý đề thi"
                          [indexColumn]="false"
                          [items]="items"
                          [itemCount]="itemCount"
                          (reload)="reloadItems($event)"
                          [expandableRows]="true"
              >
                <template #dataTableExpand let-item="item">
                  <div [innerHTML]="item.Content" style="padding: 5px; color: gray"></div>
                </template>
                <data-table-column
                  property="Title"
                  header="Tiêu đề">
                </data-table-column>
                <data-table-column
                  property="ClassName"
                  header="Lớp">
                  <!--<ng-template #dataTableHeader let-item="item">
                    <select class="form-control" [(ngModel)]="filter.ClassId" (change)="reloadItems()">
                      <option value="">Lớp</option>
                      <option *ngFor="let source of classSource" [value]="source.ID">{{source.Value}}</option>
                    </select>
                  </ng-template>-->
                </data-table-column>
                <data-table-column
                  property="SubjectName"
                  header="Môn học">
                </data-table-column>
                <data-table-column
                  property="TypeName"
                  header="Loại đề">
                </data-table-column>
                <data-table-column
                  property="Time"
                  header="Số lượt thi">
                </data-table-column>
                <data-table-column
                  property="Description"
                  header="Mô tả">
                </data-table-column>
                <data-table-column
                  property="CreatorName"
                  header="Người tạo"
                  [visible]="false">
                </data-table-column>
                <data-table-column
                  [property]="'#'"
                  [header]="'Quản trị'"
                  [width]="100"
                  [styleClass]="'table-action-cell'"
                  [resizable]="true">
                  <ng-template #dataTableHeader let-item="item">
                    <span>Quản trị</span>
                  </ng-template>
                  <ng-template #dataTableCell let-item="item">
                    <div class="btn-group" dropdown placement="bottom right">
                      <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                        Action <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/admin/questions']" [queryParams]="{t:item.ID}">
                          <i class="fa fa-edit fa-lg text-info"></i> Sửa </a>
                        </li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item action" (click)="delete(item.ID)">
                          <i class="fa fa-minus-square text-danger"></i> Khóa </a></li>
                      </ul>
                    </div>
                  </ng-template>
                </data-table-column>
              </data-table>
            </block-ui>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
