<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="ads">
      <a [routerLink]="['/tin-tuc/chi-tiet']"><img class="img-fluid" src="public/frondtend/images/ads-1.png"></a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="ads">
      <a [routerLink]="['/tin-tuc/chi-tiet']"><img class="img-fluid" src="public/frondtend/images/ads-2.png"></a>
    </div>
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
  <div class="col-sm-6 col-md-4">
    <!-- sidebar -->
    <div class="sidebar">
      <!-- ads sidebar -->
      <div class="ads">
        <a><img class="img-fluid" src="public/frondtend/images/ads-sidebar-2.png"></a>
      </div>
      <!-- END ads sidebar -->

      <!-- module sidebar -->
      <div class="mod-sidebar">
        <div class="title-mod">
          <div class="title-mod-cont">
            <h4 class="text-uppercase text-shadow-white font-weight-normal">Thông tin mới</h4>
          </div>
        </div>
        <!-- END title -->
        <div class="mod-sidebar-cont">
          <div class="item-sidebar" *ngFor="let item of listNews">
            <div class="wrap-article">
              <a [routerLink]="['/tin-tuc/chi-tiet/' + item.ID]" class="img-thumb-art img-cover" [style.background-image]="urlImg(item.ImageUrl)"></a>
            </div>
            <div class="des-article">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet/' + item.ID]">{{item.Title}}</a></h3>
              <p class="mb-0">
                <span> <i class="fa fa-eye text-primary"></i> {{item.Views}} lượt xem</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END module sidebar -->

      <!-- module sidebar -->
      <div class="mod-sidebar">
        <div class="title-mod">
          <div class="title-mod-cont">
            <h4 class="text-uppercase text-shadow-white font-weight-normal">Thảo luận - Câu hỏi mới</h4>
          </div>
        </div>
        <!-- END title -->
        <div class="topic-cont">
          <ul class="list-topic-style-1">
            <li>
              <img src="public/frondtend/img/question.png">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Công thức tính diện tích hình vuông, chu vi hình vuông</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Toán học</a>
                <span class="author-of-topic"> <i class="fa fa-user-circle"></i> Nguyễn Văn Nam</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/question.png">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Phương pháp quản lý lớp học hiệu quả</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Phương pháp quản lý</a>
                <span class="author-of-topic"> <i class="fa fa-user-circle"></i> Nguyễn Văn Huân</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/question.png">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Công thức tính phần trăm</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Toán học</a>
                <span class="author-of-topic"> <i class="fa fa-user-circle"></i> Phạm thị Bách</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/question.png">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Nguyên tắc để học nhóm hiệu quả là gì?</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Phương pháp quản lý</a>
                <span class="author-of-topic"> <i class="fa fa-user-circle"></i> Nguyễn Văn Tuyến</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/question.png">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Làm sao để học tiếng anh hiệu quả và nhớ nhiều từ mới?</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Tiếng Anh</a>
                <span class="author-of-topic"> <i class="fa fa-user-circle"></i> Trịnh Hoàng Yến</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- END module sidebar -->

      <!-- module sidebar -->
      <div class="mod-sidebar">
        <div class="title-mod">
          <div class="title-mod-cont">
            <h4 class="text-uppercase text-shadow-white font-weight-normal">Chủ đề nóng</h4>
          </div>
        </div>
        <!-- END title -->
        <div class="topic-cont">
          <ul class="list-topic-style-1 list-topic-style-2">
            <li>
              <img src="public/frondtend/img/starfish.svg">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Tiếng Anh hiệu quả cho Tân sinh viên</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Tiếng Anh</a>
                <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 259 bình luận</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/starfish.svg">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">13 kỹ năng cần thiết cho học sinh phổ thông</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Phương pháp quản lý</a>
                <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 308 bình luận</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/starfish.svg">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Rèn luyện &amp; nâng cao kỹ năng giải toán Trung học phổ thông</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Toán học</a>
                <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 242 bình luận</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/starfish.svg">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Luyện thi trắc nghiệm vật lý Trung học 2018</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Phương pháp quản lý</a>
                <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 122 bình luận</span>
              </p>
            </li>
            <li>
              <img src="public/frondtend/img/starfish.svg">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet']">Bí kíp luyện thi tiếng anh Trung học Phổ thông 2017</a></h3>
              <p class="mb-0">
                <a [routerLink]="['/tin-tuc/chi-tiet']" class="subjects-of-topic">- Tiếng Anh</a>
                <span class="author-of-topic"> <i class="fa fa-comments-o"></i> 96 bình luận</span>
              </p>
            </li>
          </ul>
        </div>
      </div>
      <!-- END module sidebar -->
    </div>
    <!-- END sidebar -->

  </div>
</div>
