<div class="row">
  <div class="col-sm-12 col-md-6">
    <div class="ads">
      <a [routerLink]="['/tin-tuc/chi-tiet']"><img class="img-fluid" src="public/frondtend/images/ads-1.png"></a>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="ads">
      <a [routerLink]="['/tin-tuc/chi-tiet']"><img class="img-fluid" src="public/frondtend/images/ads-2.png"></a>
    </div>
  </div>
</div>
<div class="row">
  <router-outlet></router-outlet>
  <div class="col-sm-6 col-md-4">
    <!-- sidebar -->
    <div class="sidebar">
      <!-- ads sidebar -->
      <div class="ads">
        <a><img class="img-fluid" src="public/frondtend/images/ads-sidebar-2.png"></a>
      </div>
      <!-- END ads sidebar -->

      <!-- module sidebar -->
      <div class="mod-sidebar">
        <div class="title-mod">
          <div class="title-mod-cont">
            <h4 class="text-uppercase text-shadow-white font-weight-normal">Thông tin mới</h4>
          </div>
        </div>
        <!-- END title -->
        <div class="mod-sidebar-cont">
          <div class="item-sidebar" *ngFor="let item of listNews">
            <div class="wrap-article">
              <a [routerLink]="['/tin-tuc/chi-tiet/' + item.ID]" class="img-thumb-art img-cover" [style.background-image]="urlImg(item.ImageUrl)"></a>
            </div>
            <div class="des-article">
              <h3><a [routerLink]="['/tin-tuc/chi-tiet/' + item.ID]">{{item.Title}}</a></h3>
              <p class="mb-0">
                <span> <i class="fa fa-eye text-primary"></i> {{item.Views}} lượt xem</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- END module sidebar -->

      <!-- module sidebar -->
      <div fagNewItem></div>
      <!-- END module sidebar -->

      <!-- module sidebar -->
      <div fagHotItem [isAds]="false"></div>
      <!-- END module sidebar -->
    </div>
    <!-- END sidebar -->

  </div>
</div>
